---
// Pendiente
---
<section class="max-w-xl mx-auto mt-8 space-y-4">
    <details>
      <summary>
        <span></span>
        <span></span>
      </summary>
      <ul>

      </ul>
    </details>
</section>
  