---
import Hero from '@/components/index/Hero.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<Hero />
	<div class="h-96 text-9xl">
		Say Hi
	</div>
	<div class="h-96"></div>
</Layout>
