---
const { href } = Astro.props;
const currentPage = Astro.url.pathname;
---

<a class=`flex justify-center items-center py-1 px-4 rounded-md ${currentPage === href ? 'bg-black text-stone-200' : 'bg-transparent text-stone-400'}` href={href}>
    <slot />
</a>