---
import HeaderTab from "./HeaderTab.astro";
---
<header class="flex flex-row justify-between items-center pb-3">
    <ul class="flex flex-row w-fit h-fit p-1 gap-2 bg-[#27272a] rounded-lg">
        <HeaderTab href="/">Home</HeaderTab>
        <HeaderTab href="/simulators">Simulators</HeaderTab>
        <HeaderTab href="/about">About</HeaderTab>
        <HeaderTab href="/contact">Contact</HeaderTab>
        <HeaderTab href="/donate">Donate</HeaderTab>
    </ul>
    <ul class="flex flex-row gap-4">
        <li><a href="/github">GitHub</a></li>
        <li><a href="/paper">Paper</a></li>
    </ul>
</header>