<article class="flex flex-col w-full h-full gap-16 justify-center items-center rounded-2xl bg-stone-900">
	<h1 class="font-black text-9xl">M O V E</h1>
	<div class="flex flex-row gap-4 justify-center items-center text-lg font-semibold">
		<button class="bg-blue-900 rounded-xl px-4 py-2 text-blue-300 hover:shadow-lg shadow-stone-950 hover:bg-blue-700 hover:text-blue-100 hover:scale-110 transition-all">Iniciar simulación</button>
		<button  class="bg-black rounded-xl px-4 py-2 text-stone-400 hover:shadow-lg shadow-stone-950 hover:bg-blue hover:text-blue-100 hover:scale-110 transition-all">Leer más</button>
	</div>
</article>