---
import '@/styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>MOVE</title>
	</head>
	<body>
        <slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: "Ubuntu", sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
		background: black;
		color: white;
	}

	html {
		scrollbar-width: thin;
		scrollbar-color: rgba(50, 50, 50, 0.15) transparent;
		transition: scrollbar-color 0.3s ease;
	}

	html:hover {
		scrollbar-color: rgba(50, 50, 50, 0.25) transparent;
	}

	html::-webkit-scrollbar {
		width: 3px;
	}

	html::-webkit-scrollbar-track {
		background: transparent;
	}

	html::-webkit-scrollbar-thumb {
		background: rgba(50, 50, 50, 0.15);
		border-radius: 1.5px;
		transition: background 0.3s ease;
	}

	html:hover::-webkit-scrollbar-thumb {
		background: rgba(50, 50, 50, 0.25);
	}

	html::-webkit-scrollbar-thumb:hover {
		background: rgba(50, 50, 50, 0.25);
	}
</style>